-- MySQL dump 10.13  Distrib 8.0.44, for Win64 (x86_64)
--
-- Host: localhost    Database: arkaly_bd
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `activos_favoritos`
--

DROP TABLE IF EXISTS `activos_favoritos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `activos_favoritos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_usuario` int NOT NULL,
  `simbolo` varchar(20) NOT NULL,
  `nombre` varchar(100) NOT NULL,
  `tipo_activo` enum('CRIPTO','ACCION','FONDO') NOT NULL,
  `fecha_agregado` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `id_usuario` (`id_usuario`),
  CONSTRAINT `activos_favoritos_ibfk_1` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activos_favoritos`
--

LOCK TABLES `activos_favoritos` WRITE;
/*!40000 ALTER TABLE `activos_favoritos` DISABLE KEYS */;
INSERT INTO `activos_favoritos` VALUES (11,16,'BTC-USD','Bitcoin','CRIPTO','2026-04-30 11:47:30'),(16,16,'XRP-USD','XRP','CRIPTO','2026-05-02 19:33:35'),(24,16,'AMZN','Amazon','ACCION','2026-05-17 18:38:03'),(25,16,'BNB-USD','BNB','CRIPTO','2026-05-17 18:38:14'),(26,16,'SOL-USD','Solana','CRIPTO','2026-05-17 18:38:15'),(30,16,'TSLA','Tesla','ACCION','2026-05-17 18:38:18');
/*!40000 ALTER TABLE `activos_favoritos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `activos_mercado`
--

DROP TABLE IF EXISTS `activos_mercado`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `activos_mercado` (
  `id` int NOT NULL AUTO_INCREMENT,
  `simbolo` varchar(20) NOT NULL,
  `nombre` varchar(100) NOT NULL,
  `tipo_activo` enum('CRIPTO','ACCION','FONDO') NOT NULL,
  `es_default` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_simbolo` (`simbolo`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activos_mercado`
--

LOCK TABLES `activos_mercado` WRITE;
/*!40000 ALTER TABLE `activos_mercado` DISABLE KEYS */;
/*!40000 ALTER TABLE `activos_mercado` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `alertas_precio`
--

DROP TABLE IF EXISTS `alertas_precio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alertas_precio` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_usuario` int NOT NULL,
  `simbolo` varchar(20) NOT NULL,
  `tipo_activo` enum('CRIPTO','ACCION','FONDO') NOT NULL,
  `condicion` enum('MAYOR_QUE','MENOR_QUE') NOT NULL,
  `precio_objetivo` decimal(18,2) NOT NULL,
  `activa` tinyint(1) DEFAULT '1',
  `fecha_creacion` datetime DEFAULT CURRENT_TIMESTAMP,
  `fecha_disparada` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `id_usuario` (`id_usuario`),
  CONSTRAINT `alertas_precio_ibfk_1` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alertas_precio`
--

LOCK TABLES `alertas_precio` WRITE;
/*!40000 ALTER TABLE `alertas_precio` DISABLE KEYS */;
INSERT INTO `alertas_precio` VALUES (1,16,'BTC','CRIPTO','MAYOR_QUE',5000.00,1,'2026-05-15 23:43:49',NULL),(2,16,'VWRL.L','FONDO','MENOR_QUE',135.20,1,'2026-05-16 16:06:35',NULL),(3,16,'BTC','CRIPTO','MENOR_QUE',5000.00,1,'2026-05-17 18:35:15',NULL);
/*!40000 ALTER TABLE `alertas_precio` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `carpetas`
--

DROP TABLE IF EXISTS `carpetas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `carpetas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_usuario` int NOT NULL,
  `id_carpeta_padre` int DEFAULT NULL,
  `nombre` varchar(100) NOT NULL,
  `fecha_creacion` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `id_usuario` (`id_usuario`),
  KEY `id_carpeta_padre` (`id_carpeta_padre`),
  CONSTRAINT `carpetas_ibfk_1` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id`),
  CONSTRAINT `carpetas_ibfk_2` FOREIGN KEY (`id_carpeta_padre`) REFERENCES `carpetas` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `carpetas`
--

LOCK TABLES `carpetas` WRITE;
/*!40000 ALTER TABLE `carpetas` DISABLE KEYS */;
INSERT INTO `carpetas` VALUES (3,16,NULL,'Carpeta_Prueba_1',NULL),(4,16,NULL,'Carpeta_Prueba_2','2026-04-21 14:26:02'),(6,17,NULL,'CarpetaDePrueba1','2026-04-23 11:10:31'),(7,17,NULL,'CarpetaDePrueba2','2026-04-23 11:15:58'),(8,17,NULL,'CarpetaDePrueba3','2026-04-24 11:17:52'),(9,17,8,'SubCarpetaPrueba','2026-04-24 11:18:11'),(10,16,4,'a','2026-04-27 07:10:55'),(11,16,10,'CallateGuarro','2026-04-28 13:08:39');
/*!40000 ALTER TABLE `carpetas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cartera`
--

DROP TABLE IF EXISTS `cartera`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cartera` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_usuario` int NOT NULL,
  `simbolo` varchar(20) NOT NULL,
  `tipo_activo` enum('CRIPTO','ACCION','FONDO') NOT NULL,
  `tipo_operacion` enum('COMPRA','VENTA') NOT NULL,
  `cantidad` decimal(18,8) NOT NULL,
  `precio_unitario` decimal(18,2) NOT NULL,
  `precio_total` decimal(18,2) NOT NULL,
  `fecha_operacion` date NOT NULL,
  `notas` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `id_usuario` (`id_usuario`),
  CONSTRAINT `cartera_ibfk_1` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cartera`
--

LOCK TABLES `cartera` WRITE;
/*!40000 ALTER TABLE `cartera` DISABLE KEYS */;
INSERT INTO `cartera` VALUES (16,16,'ETH','CRIPTO','COMPRA',0.01000000,2320.07,23.20,'2026-05-04',''),(17,16,'BTC-USD','CRIPTO','COMPRA',0.00100000,80937.36,80.94,'2026-05-06',''),(18,16,'BTC-USD','CRIPTO','VENTA',0.00100000,80927.05,80.93,'2026-05-06',''),(19,16,'SPY','FONDO','COMPRA',0.04000000,739.17,29.57,'2026-05-17',''),(20,16,'QQQ','FONDO','COMPRA',0.03000000,708.93,21.27,'2026-05-17',''),(21,16,'AAPL','ACCION','COMPRA',0.07000000,300.23,21.02,'2026-05-17',''),(22,16,'TSLA','ACCION','COMPRA',0.07000000,422.13,29.55,'2026-05-17','');
/*!40000 ALTER TABLE `cartera` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categorias_foro`
--

DROP TABLE IF EXISTS `categorias_foro`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categorias_foro` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `descripcion` varchar(255) DEFAULT NULL,
  `color` varchar(7) DEFAULT '#4A90E2',
  `orden` int DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categorias_foro`
--

LOCK TABLES `categorias_foro` WRITE;
/*!40000 ALTER TABLE `categorias_foro` DISABLE KEYS */;
/*!40000 ALTER TABLE `categorias_foro` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categorias_transacciones`
--

DROP TABLE IF EXISTS `categorias_transacciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categorias_transacciones` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_usuario` int NOT NULL,
  `nombre` varchar(100) NOT NULL,
  `color` varchar(7) DEFAULT '#4A90E2',
  `icono` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `id_usuario` (`id_usuario`),
  CONSTRAINT `categorias_transacciones_ibfk_1` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categorias_transacciones`
--

LOCK TABLES `categorias_transacciones` WRITE;
/*!40000 ALTER TABLE `categorias_transacciones` DISABLE KEYS */;
INSERT INTO `categorias_transacciones` VALUES (11,16,'Comida',NULL,NULL),(12,16,'Coche',NULL,NULL),(13,16,'Casa',NULL,NULL),(14,16,'Perro',NULL,NULL),(15,16,'Trabajo',NULL,NULL);
/*!40000 ALTER TABLE `categorias_transacciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `documentos`
--

DROP TABLE IF EXISTS `documentos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `documentos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_usuario` int NOT NULL,
  `id_carpeta` int DEFAULT NULL,
  `nombre_original` varchar(255) NOT NULL,
  `nombre_archivo` varchar(255) NOT NULL,
  `ruta_relativa` varchar(500) NOT NULL,
  `tipo_mime` varchar(100) DEFAULT NULL,
  `tamanio_bytes` bigint DEFAULT NULL,
  `categoria` varchar(100) DEFAULT NULL,
  `fecha_subida` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `id_usuario` (`id_usuario`),
  KEY `id_carpeta` (`id_carpeta`),
  CONSTRAINT `documentos_ibfk_1` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id`),
  CONSTRAINT `documentos_ibfk_2` FOREIGN KEY (`id_carpeta`) REFERENCES `carpetas` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `documentos`
--

LOCK TABLES `documentos` WRITE;
/*!40000 ALTER TABLE `documentos` DISABLE KEYS */;
/*!40000 ALTER TABLE `documentos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `etiqueta_elemento`
--

DROP TABLE IF EXISTS `etiqueta_elemento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `etiqueta_elemento` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_etiqueta` int NOT NULL,
  `id_carpeta` int DEFAULT NULL,
  `id_documento` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `id_etiqueta` (`id_etiqueta`),
  KEY `id_carpeta` (`id_carpeta`),
  KEY `id_documento` (`id_documento`),
  CONSTRAINT `etiqueta_elemento_ibfk_1` FOREIGN KEY (`id_etiqueta`) REFERENCES `etiquetas` (`id`),
  CONSTRAINT `etiqueta_elemento_ibfk_2` FOREIGN KEY (`id_carpeta`) REFERENCES `carpetas` (`id`),
  CONSTRAINT `etiqueta_elemento_ibfk_3` FOREIGN KEY (`id_documento`) REFERENCES `documentos` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `etiqueta_elemento`
--

LOCK TABLES `etiqueta_elemento` WRITE;
/*!40000 ALTER TABLE `etiqueta_elemento` DISABLE KEYS */;
INSERT INTO `etiqueta_elemento` VALUES (8,3,6,NULL),(10,3,8,NULL),(11,7,9,NULL),(12,7,7,NULL),(16,8,4,NULL),(17,8,NULL,12),(18,9,3,NULL),(19,9,NULL,6),(20,9,10,NULL),(21,9,NULL,8),(22,9,11,NULL);
/*!40000 ALTER TABLE `etiqueta_elemento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `etiquetas`
--

DROP TABLE IF EXISTS `etiquetas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `etiquetas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_usuario` int NOT NULL,
  `nombre` varchar(50) NOT NULL,
  `color` varchar(7) DEFAULT '#FF5733',
  PRIMARY KEY (`id`),
  KEY `id_usuario` (`id_usuario`),
  CONSTRAINT `etiquetas_ibfk_1` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `etiquetas`
--

LOCK TABLES `etiquetas` WRITE;
/*!40000 ALTER TABLE `etiquetas` DISABLE KEYS */;
INSERT INTO `etiquetas` VALUES (2,17,'EtiquetaRojaPureba','#FF6B6B'),(3,17,'PruebaEtiquetaAzul','#4D96FF'),(4,17,'dsvxzcv','#4D96FF'),(5,17,'ColorNaranja','#FFA500'),(6,17,'EtiquetaMorada','#C77DFF'),(7,17,'EtiquetaaaAzuuul','#4D96FF'),(8,16,'EtiquetaPrueba','#FF6B6B'),(9,16,'EtiquetaAzul','#4D96FF');
/*!40000 ALTER TABLE `etiquetas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hilos`
--

DROP TABLE IF EXISTS `hilos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hilos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_usuario` int NOT NULL,
  `id_categoria` int NOT NULL,
  `titulo` varchar(255) NOT NULL,
  `vistas` int DEFAULT '0',
  `fijado` tinyint(1) DEFAULT '0',
  `cerrado` tinyint(1) DEFAULT '0',
  `fecha_creacion` datetime DEFAULT CURRENT_TIMESTAMP,
  `fecha_ultimo_mensaje` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `id_usuario` (`id_usuario`),
  KEY `id_categoria` (`id_categoria`),
  CONSTRAINT `hilos_ibfk_1` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id`),
  CONSTRAINT `hilos_ibfk_2` FOREIGN KEY (`id_categoria`) REFERENCES `categorias_foro` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hilos`
--

LOCK TABLES `hilos` WRITE;
/*!40000 ALTER TABLE `hilos` DISABLE KEYS */;
/*!40000 ALTER TABLE `hilos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `likes_mensajes`
--

DROP TABLE IF EXISTS `likes_mensajes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `likes_mensajes` (
  `id_usuario` int NOT NULL,
  `id_mensaje` int NOT NULL,
  `fecha` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_usuario`,`id_mensaje`),
  KEY `id_mensaje` (`id_mensaje`),
  CONSTRAINT `likes_mensajes_ibfk_1` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id`),
  CONSTRAINT `likes_mensajes_ibfk_2` FOREIGN KEY (`id_mensaje`) REFERENCES `mensajes` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `likes_mensajes`
--

LOCK TABLES `likes_mensajes` WRITE;
/*!40000 ALTER TABLE `likes_mensajes` DISABLE KEYS */;
/*!40000 ALTER TABLE `likes_mensajes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mensajes`
--

DROP TABLE IF EXISTS `mensajes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mensajes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_usuario` int NOT NULL,
  `id_hilo` int NOT NULL,
  `contenido` text NOT NULL,
  `eliminado` tinyint(1) DEFAULT '0',
  `eliminado_por` int DEFAULT NULL,
  `fecha_creacion` datetime DEFAULT CURRENT_TIMESTAMP,
  `fecha_edicion` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `id_usuario` (`id_usuario`),
  KEY `id_hilo` (`id_hilo`),
  KEY `eliminado_por` (`eliminado_por`),
  CONSTRAINT `mensajes_ibfk_1` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id`),
  CONSTRAINT `mensajes_ibfk_2` FOREIGN KEY (`id_hilo`) REFERENCES `hilos` (`id`),
  CONSTRAINT `mensajes_ibfk_3` FOREIGN KEY (`eliminado_por`) REFERENCES `usuarios` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mensajes`
--

LOCK TABLES `mensajes` WRITE;
/*!40000 ALTER TABLE `mensajes` DISABLE KEYS */;
/*!40000 ALTER TABLE `mensajes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `metas_ahorro`
--

DROP TABLE IF EXISTS `metas_ahorro`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `metas_ahorro` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_usuario` int NOT NULL,
  `nombre` varchar(100) NOT NULL,
  `cantidad_objetivo` decimal(10,2) NOT NULL,
  `cantidad_actual` decimal(10,2) DEFAULT '0.00',
  `fecha_limite` date DEFAULT NULL,
  `completada` tinyint(1) DEFAULT '0',
  `fecha_creacion` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `id_usuario` (`id_usuario`),
  CONSTRAINT `metas_ahorro_ibfk_1` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `metas_ahorro`
--

LOCK TABLES `metas_ahorro` WRITE;
/*!40000 ALTER TABLE `metas_ahorro` DISABLE KEYS */;
/*!40000 ALTER TABLE `metas_ahorro` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `perfiles_financieros`
--

DROP TABLE IF EXISTS `perfiles_financieros`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `perfiles_financieros` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_usuario` int NOT NULL,
  `regla_financiera` varchar(50) NOT NULL DEFAULT 'CINCUENTA_TREINTA_VEINTE',
  `porcentaje_ahorro` decimal(5,2) DEFAULT NULL,
  `fecha_actualizacion` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `id_usuario` (`id_usuario`),
  CONSTRAINT `perfiles_financieros_ibfk_1` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `perfiles_financieros`
--

LOCK TABLES `perfiles_financieros` WRITE;
/*!40000 ALTER TABLE `perfiles_financieros` DISABLE KEYS */;
INSERT INTO `perfiles_financieros` VALUES (1,16,'CINCUENTA_TREINTA_VEINTE',NULL,NULL);
/*!40000 ALTER TABLE `perfiles_financieros` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `posiciones`
--

DROP TABLE IF EXISTS `posiciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `posiciones` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_usuario` int NOT NULL,
  `simbolo` varchar(20) NOT NULL,
  `tipo_activo` enum('CRIPTO','ACCION','FONDO') NOT NULL,
  `cantidad_total` decimal(18,8) NOT NULL,
  `precio_medio_compra` decimal(18,2) NOT NULL,
  `total_invertido` decimal(18,2) NOT NULL,
  `fecha_actualizacion` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `id_usuario` (`id_usuario`),
  CONSTRAINT `posiciones_ibfk_1` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `posiciones`
--

LOCK TABLES `posiciones` WRITE;
/*!40000 ALTER TABLE `posiciones` DISABLE KEYS */;
INSERT INTO `posiciones` VALUES (7,16,'ETH','CRIPTO',0.01000000,2320.07,23.20,'2026-05-04 10:19:08'),(9,16,'SPY','FONDO',0.04000000,739.17,29.57,'2026-05-17 20:22:34'),(10,16,'QQQ','FONDO',0.03000000,708.93,21.27,'2026-05-17 20:23:17'),(11,16,'AAPL','ACCION',0.07000000,300.23,21.02,'2026-05-17 20:23:59'),(12,16,'TSLA','ACCION',0.07000000,422.13,29.55,'2026-05-17 20:25:14');
/*!40000 ALTER TABLE `posiciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transacciones`
--

DROP TABLE IF EXISTS `transacciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transacciones` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_usuario` int NOT NULL,
  `id_categoria` int DEFAULT NULL,
  `tipo` enum('INGRESO','GASTO') NOT NULL,
  `cantidad` decimal(10,2) NOT NULL,
  `descripcion` varchar(255) DEFAULT NULL,
  `fecha` date NOT NULL,
  `mes` int NOT NULL,
  `anio` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `id_usuario` (`id_usuario`),
  KEY `id_categoria` (`id_categoria`),
  CONSTRAINT `transacciones_ibfk_1` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id`),
  CONSTRAINT `transacciones_ibfk_2` FOREIGN KEY (`id_categoria`) REFERENCES `categorias_transacciones` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transacciones`
--

LOCK TABLES `transacciones` WRITE;
/*!40000 ALTER TABLE `transacciones` DISABLE KEYS */;
INSERT INTO `transacciones` VALUES (7,16,15,'INGRESO',1500.00,'Ganancias del mes con el trabajo','2026-05-16',5,2026),(8,16,12,'GASTO',20.00,'Gastos del coche','2026-05-16',5,2026),(9,16,14,'GASTO',20.00,'Comida del perro','2026-05-16',5,2026),(10,16,13,'GASTO',750.00,'Gastos de la hipoteca','2026-05-16',5,2026);
/*!40000 ALTER TABLE `transacciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuarios` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `username` varchar(50) NOT NULL,
  `email` varchar(150) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `rol` enum('USUARIO','ADMIN') DEFAULT 'USUARIO',
  `avatar_url` varchar(255) DEFAULT NULL,
  `activo` tinyint(1) DEFAULT '1',
  `fecha_registro` datetime DEFAULT CURRENT_TIMESTAMP,
  `ultimo_acceso` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-17 23:14:47
